Repository ecoma-io/.github: changes, and which lefthook commands are due for each by the changed paths.
All: format, shellcheck

format:
  run: dprint fmt {staged_files} && git add {staged_files} && dprint check {staged_files}

shellcheck:
  run: shellcheck {staged_files}

feat(actionlint): add actionlint linter for GitHub Actions workflows
  .devcontainer/devcontainer.json
  .devcontainer/features/actionlint/README.md
  .devcontainer/features/actionlint/devcontainer-feature.json
  .devcontainer/features/actionlint/install.sh
  .github/workflows/ci.yaml
  README.md
Due: format, shellcheck

feat(devcontainer): add golangci-lint
  .devcontainer/devcontainer.json
  .github/workflows/ci.yaml
Due: format

ci: refactor test scripts
  .devcontainer/tests/cmd-exits.sh
  .devcontainer/tests/smoke-test.sh
  .github/workflows/ci.yaml
Due: format, shellcheck

fix(devcontainer): add cache validation script, update permissions handle
  .devcontainer/features/unified-cache/install.sh
  .devcontainer/tests/cache.sh
  .devcontainer/tests/smoke-test.sh
Due: format, shellcheck

chore: add transparent and default icon
  .github/icon-transparent.png
  .github/icon.png
Due: none

ci: optimize ci wokflow run security scan only release image pushed
  .github/workflows/ci.yaml
Due: format

ci: update pre-commit test command to use smoke-test script
  .lefthook.yml
Due: format

feat(docker-host): add docker-host wrapper and installation script
  .devcontainer/devcontainer.json
  .devcontainer/features/docker-host/README.md
  .devcontainer/features/docker-host/devcontainer-feature.json
  .devcontainer/features/docker-host/install.sh
  .devcontainer/tests/docker-host.sh
  .devcontainer/tests/smoke-test.sh
  .github/workflows/ci.yaml
Due: format, shellcheck

fix(devcontainer): fixed go 1.24 for Pants build compatible
  .devcontainer/devcontainer.json
Due: format

ci: update smoke test script path in devcontainer workflow
  .github/workflows/maintain.yaml
Due: format

fix(devcontainer): fix unified caching for pnpm, yarn
  .devcontainer/features/unified-cache/devcontainer-feature.json
  .devcontainer/tests/cache.sh
Due: format, shellcheck

chore: update pre-push test command to use smoke-test script
  .lefthook.yml
Due: format

fix(devcontainer): remove pants, update golangci-lint v2, add task
  .devcontainer/devcontainer.json
  .devcontainer/tests/smoke-test.sh
Due: format, shellcheck

feat(devcontainer): update go to 1.25
  .devcontainer/devcontainer.json
Due: format

chore: initialize repository
  .github/assets/banner.png
  AGENTS.md
  CLAUDE.md
  LICENSE
  README.md
  profile/README.md
Due: format

Path conditions:
  format: any of: *.{json,md,yml,yaml,toml,sh}
  shellcheck: any of: *.{sh,bash}
